@import '../../Styling/colors.sass'
    
#cart * 
    overflow: visible

$cart-height: 70vh



#cart
    width: 100%
    height: fit-content

    animation: 1s forwards size-scale
    display: flex
    align-items: center
    flex-direction: column
    
    .title
        color: black
        margin: 0
        width: 100%
        display: flex
        justify-content: center
        align-items: center
        height: calc(5vh + 5vw)
        

    #bottom
        background-color: rgba(0, 0, 0, 0.171)
        border-top: calc(.05vh + .05vw) solid black
        display: flex
        overflow: hidden
        width: 100%
        height: 80vh

    .left, .right
        width: 50%
        height: 100%
        overflow-y: scroll




    .left
        overflow: visible   
            

        #orderItems
            height: 100%
            overflow-y: auto
            overflow-x: hidden
    
            .orderItem:hover
                background: var(--dirty-red)
                color: white
                scale: 1.01

                .left-order
                    .icon-order
                        border-color: white

                .right-order
                    .info, .remove-button
                        color: white
                

            .orderItem
                z-index: 1
                overflow: visible
                transition: .1s
                box-shadow: 0 0 calc(.5vh + .5vw) rgba(0, 0, 0, 0.267)
                $top-down-padding: calc(.5vh + .5vw)
                width: 100%
                background-color: white
                display: flex
                padding-top: $top-down-padding
                padding-bottom: $top-down-padding

                .left-order, .right-order
                    display: flex
                    z-index: 1

                .right-order
                    display: flex
                    align-items: center
                    justify-content: space-around
                    width: 30%

                    button, .info
                        background: none
                        font-size: calc(.8vh + .8vw)
                        font-weight: bold
                        border: none
                        color: var(--dirty-red)                    

                    button
                        cursor: pointer


                .left-order
                    width: 70%
                    padding-left: $top-down-padding
                    display: flex
                    align-items: center

                    .icon-order
                        height: calc(3vh + 3vw)
                        border-radius: 50%
                        border: calc(.05vh + .05vw) solid black

                        width: calc(3vh + 3vw)
                        background-position: center
                        background-size: cover
                        background-repeat: no-repeat

                    .title-order
                        font-family: Arial, Helvetica, sans-serif
                        font-size: calc(1vh + 1vw)
                        margin-left: calc(1vh + 1vw)
                        font-weight: bold



    

    .right
        background: white
        overflow-y: scroll
        
        form
            
            font-size: calc(.8vh + .8vw)
            padding: calc(1vh + 1vw)

        #top-form, #bottom-form
            width: 100%

        #top-form
            display: flex
            flex-direction: column
            height: fit-content
            .line
                display: flex


            #info
                text-align: center
            label
                margin-bottom: calc(.5vh + .5vw)
                display: flex
                width: 100%
                flex-direction: column
                transition: .1s

                input
                    color: rgb(114, 114, 114)
                    width: 100%
                    outline: none
                    height: calc(1vh + 1vw)
                    border: 1px solid black
                    font-size: 100%
                input:focus
                    color: black

            label:focus-within
                font-weight: bold
                color: var(--dirty-red)
        
        #bottom-form
            display: flex
            flex-direction: column
            overflow-y: auto
            padding-bottom: calc(1vh + 1vw)

            #line-info
                margin-top: calc(.5vh + .5vw)
                display: flex
                flex-direction: row
                width: calc(3 * 7rem + 4rem)
                padding: 1rem
                left: 0
                right: 0
                margin-left: auto
                margin-right: auto
                border-radius: .5rem
                justify-content: space-around
                background: var(--dirty-red)

                .info-payment
                    color: white

            .info
                font-size: .8rem
                color: black



            button, .info
                width: fit-content
                font-size: 1.5rem


            .info.pay
                width: 100%
                text-align: center
                margin-top: calc(1vh + 1vw)

            #payments
                display: flex
                justify-content: center
                width: 100%
                margin-top: calc(.5vh + .5vw)
            
            .payment
                padding: 1rem
                width: 7rem
                height: 6.5rem
                cursor: pointer
                transition: .1s
                border-radius: calc(.25vh + .25vw)


            .payment.selected
                background: var(--dirty-red)
                border-radius: calc(.25vh + .25vw)
                transition: .1s

            .payment:hover
                background: var(--dirty-red)

            .payment:hover ~ .payment.selected
                background: none

            #next
                border: none
                outline: none
                background: var(--dirty-red)
                color: white
                padding: calc(.5vh + .5vw)
                width: calc(3 * 7rem + 6rem)
                left: 0
                right: 0
                margin-left: auto
                margin-right: auto
                cursor: pointer
                transition: .1s
                margin-top: calc(.5vh + .5vw)
                border-radius: calc(.25vh + .25vw)

            #next:hover
                scale: 1.05

@keyframes size-scale
    from 
        height: 0vh



@media screen and (max-width: 768px)
    #cart #bottom
        flex-direction: column
        height: fit-content

    #cart #bottom .left, #cart #bottom .right
        width: 100%
    
    #cart #bottom .left
        height: 50%
        

    #cart .right #top-form label input
        height: calc(3vh + 3vw)
        font-size: calc(1.5vh + 1.5vw)

    #cart .right #top-form .line
        font-size: calc(2vh + 1.5vw)

    #cart .right #bottom-form .info 
        font-size: 2.5rem
    
    #cart .right #bottom-form .payment
        height: 8rem
        width: 8rem

    #cart .right #bottom-form #line-info
        width: calc(3 * 8rem + 4rem)
        height: 3rem
        align-items: center
        font-size: 1.5rem

    #cart .right #bottom-form #next
        width: calc(3 * 8rem + 6rem)
        height: 4rem