@font-face 
    font-family: Romantiques
    src: url('../../public/Assets/Fonts/Romantiques.ttf')

@font-face 
    font-family: Sellena
    src: url('../../public/Assets/Fonts/SellenaBrush.ttf')

html
body 
  width: 100%
  margin: 0
  padding: 0
  overflow: hidden


::selection 
    background: var(--dirty-red)
    color: white


::-webkit-scrollbar
    display: block
    width: calc(.4vh + .4vw)

::-webkit-scrollbar-thumb
    background: var(--dirty-red)

.App
    position: relative
    height: fit-content

*
    margin: 0
    overflow-x: hidden
    scroll-behavior: smooth

#popupHolder
    z-index: 99999
    overflow: visible
    position: fixed
    left: calc(1vh + 1vw)
    bottom: 0
    height: fit-content
    width: fit-content

@media screen and (max-width: 600px)
    #popupHolder
        justify-content: center
        display: flex
        left: 0
        bottom: .5rem
        padding-inline: 10px
        box-sizing: border-box
        width: 100%
        