@font-face 
    font-family: Romantiques
    src: url('../../public/Assets/Fonts/Romantiques.ttf')

@font-face 
    font-family: Sellena
    src: url('../../public/Assets/Fonts/SellenaBrush.ttf')

.App
    position: relative

*
    margin: 0
    overflow-x: hidden
    scroll-behavior: smooth
    