@import '../../Styling/colors.sass'
    

#header, #header-fixed
    width: 100vw
    height: 3rem
    position: absolute
    overflow: visible
    display: flex
    justify-content: space-around
    animation: 2s forwards showUpAnimation
    z-index: 1

    @keyframes showUpAnimation 
        from
            opacity: 0
        to
            opacity: 1

    .title
        display: none

    .left
        display: none

    .right
        display: flex
        justify-content: space-evenly
        width: 100%
        height: 100%

    .button
        text-decoration: none
        overflow: visible
        display: flex
        color: white
        font-size: 1.5rem
        font-weight: bold
        opacity: .9
        letter-spacing: .2rem
        text-transform: uppercase
        cursor: pointer
        user-select: none
        transition: .25s
        height: 70%
        display: flex
        justify-content: center
        align-items: center
    
    
    .button:hover
        opacity: 1
        scale: 1.1

#header-fixed.fixed.none
    display: none

#header-fixed.fixed.down
    animation: .5s forwards slideDown

#header-fixed.fixed.up
    animation: .5s forwards slideUp

#header-fixed.fixed
    user-select: none
    position: fixed
    height: 4rem
    display: flex
    background: white
    overflow: hidden
    box-shadow: 0 .1rem .1rem rgba(0, 0, 0, 0.171)

    .left, .right
        height: 100%
        overflow: hidden

    .left
        width: 40%

    .right
        width: 60%

    .left
        display: flex
        align-items: center

        .title
            margin-left: 4rem
            background: var(--dirty-red)
            text-shadow: .1rem .1rem rgb(105, 105, 105)
            padding-top: .2rem
            height: 100%
            display: block
            font-family: Sellena
            display: flex
            justify-content: center
            align-items: center
            font-size: 2rem
            overflow: visible
            color: white
            padding-inline: 4rem

    .right
        justify-content: flex-end
        padding-right: 3rem
        display: flex

        .button-fixed
            height: 100%
            min-width: 10rem
            display: flex
            justify-content: center
            align-items: center
            opacity: 1
            color: black
            background: none
            text-decoration: none
            border-radius: 0%
            transition: .1s
            font-size: 1rem

            .icon
                margin-inline: .5rem
                width: 2rem
                height: 100%
                background-position: center
                background-size: 100%
                background-repeat: no-repeat

        .button-fixed:hover
            background: var(--dirty-red)
            color: white

            .icon
                filter: invert(100%)

    @keyframes slideDown
        from 
            margin-top: calc(-10vh - 10vw)
        to
            margin-top: 0        

    @keyframes slideUp
        from
            margin-top: 0        
        to
            margin-top: calc(-10vh - 10vw)
    
    


