#header
    width: 100vw
    height: calc(2vh + 2vw)
    position: absolute
    
    display: flex
    justify-content: space-around

    z-index: 1

    .button
        padding-top: calc(.5vh + .5vw)
        color: white
        font-size: calc(.75vh + .75vw)
        font-weight: bold
        opacity: .8
        letter-spacing: calc(.1vh + .1vw)
        text-transform: uppercase
        cursor: pointer
        user-select: none
        transition: .25s
        height: 100%
        text-shadow: 0 0 calc(.5vh + .5vw) rgba(0,0,0,0.9)
        
    
    .button:hover
        opacity: 1