@import "../../Styling/colors.sass"

#footer
    position: relative
    width: 100vw
    height: 15rem
    background: var(--dirty-red)
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center



    .title
        user-select: none
        font-family: Sellena
        color: white
        font-size: 3rem
        margin-top: -3rem
        text-decoration: none

    #buttons
        display: flex


        .button, .separator
            user-select: none

        .separator
            color: white

        .button
            color: white
            padding-inline: 1rem
            cursor: pointer
            font-size: 1rem

    #copy
        color: white
        position: absolute
        bottom: 1.5rem